@model QuanlyKH.Models.KhachhangPhieuthu

@{
    ViewData["Title"] = "DetailKHPT";
}

<h4>Thông tin Phiếu Thu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateKHPT">
            <input asp-for="MsKH" type="hidden" value="@Model.khachhang.MsKH"/>
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="MsPT" class="control-label"></label>
                <input asp-for="MsPT" class="form-control" />
                <span asp-validation-for="MsPT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayThu" class="control-label"></label>
                <input asp-for="NgayThu" class="form-control" />
                <span asp-validation-for="NgayThu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoTien" class="control-label"></label>
                <input asp-for="SoTien" class="form-control" />
                <span asp-validation-for="SoTien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
